<h1>Chatoid</h1>
<div data-controller="chat" data-chat-user="<%= @name %>">
  <div class="row">
    <input type="text" data-action="chat#post" data-target="chat.line">
    <button data-action="chat#post">POST</button>
  </div>
  <ul data-target="chat.items">
  </ul>
</div>
